@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 16%;
  --foreground: 0 0% 24%;
  --header: 0 0% 11%;
  --primary: 16 65% 44%;
  --secondary: 272 72% 47%;
  --destructive: 0 69% 50%;
}

html {
  background-color: hsl(var(--background));
}
